In [11]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [16]:
x=5
for i in range (1,6):
    print(" "*x, "*"*i)
    x=x-1

      *
     **
    ***
   ****
  *****

In [18]:
x=5
for i in range (5,0,-1):
    print(" "*x, "*"*i)
    x=x+1

      *****
       ****
        ***
         **
          *

In [21]:
for i in range (1,6):
    print("*"*i)
for i in range (4,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [28]:
for i in range(5,0,-1):
    print("*"*i)
for i in range(2,6):
    print("*"*i)

*****
****
***
**
*
**
***
****
*****

In [31]:
x=5
for i in range(1,5):
    print(" "*x, "*"*i)
    x=x-1
y=1
for j in range(5,0,-1):
    print(" "*y, "*"*j)
    y=y+1

      *
     **
    ***
   ****
  *****
   ****
    ***
     **
      *

In [34]:
y=1
for j in range(5,1,-1):
    print(" "*y, "*"*j)
    y=y+1
    
x=5
for i in range(1,6):
    print(" "*x, "*"*i)
    x=x-1

  *****
   ****
    ***
     **
      *
     **
    ***
   ****
  *****

In [36]:
x=""
for i in range(1,10,2):
    x= i*"*"
    print(x.center(12, " "))

     *
    ***
   *****
  *******
 *********

In [37]:
x=""
for i in range(11,1,-2):
    x= i*"*"
    print(x.center(15, " "))
    
x=""
for i in range(1,13,2):
    x= i*"*"
    print(x.center(15, " "))

  ***********
   *********
    *******
     *****
      ***
       *
      ***
     *****
    *******
   *********
  ***********

In [38]:
x=8
for i in range(1,6,1):
    print(i*"*"+" "*x+i*"*")
    x=x-2

*        *
**      **
***    ***
****  ****
**********

In [39]:
x=0
for i in range(5,0,-1):
    print(i*"*"+" "*x+i*"*")
    x=x+2

**********
****  ****
***    ***
**      **
*        *

In [40]:
x=8
y=0
for i in range(1,6,1):
    print(i*"*"+" "*x+i*"*")
    x=x-2
for i in range(5,0,-1):
    print(i*"*"+" "*y+i*"*")
    y=y+2

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [41]:
x=8
y=0
for i in range(5,0,-1):
    print(i*"*"+" "*y+i*"*")
    y=y+2
for i in range(1,6,1):
    print(i*"*"+" "*x+i*"*")
    x=x-2

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [42]:
for i in range(1,6):
    if i<=2:
        print(i*"*")
    elif i>2 and i<5:
        print("*"+" "*(i-2)+"*")
    else:
        print(i*"*")

*
**
* *
*  *
*****