In [1]:
###loops
##  WHILE
##  CONTINUE
##  BREAK

In [3]:
#while loop

for i in range(0,10):
    print(i)

##in for loops we have an min and maximum value (we have a range values that loop needs to run)

0
1
2
3
4
5
6
7
8
9

In [4]:
x=10
while x>5:
    print("EDUKRON")
    x-=1
    print(x)

EDUKRON
9
EDUKRON
8
EDUKRON
7
EDUKRON
6
EDUKRON
5

In [6]:
x=1
while x<6:
    print("*"*x)
    x+=1

*
**
***
****
*****

In [7]:
#### break and continue

In [8]:
for i in range (1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [9]:
for i in range(1,6):
    if i ==3:
        continue
    print(f"Current value of i is {i}")

Current value of i is 1
Current value of i is 2
Current value of i is 4
Current value of i is 5

In [11]:
for i in range(0,7,3):
    for j in range(0,7,3):
        print(i,j)

0 0
0 3
0 6
3 0
3 3
3 6
6 0
6 3
6 6

In [12]:
for i in [1,2,3,4,5,8]:
    for j in "yes":
        print(i,j)

1 y
1 e
1 s
2 y
2 e
2 s
3 y
3 e
3 s
4 y
4 e
4 s
5 y
5 e
5 s
8 y
8 e
8 s

In [13]:
for i in [1,2,3,4,5,8]:
    for j in [9,10,11,12]:
        print(i,j)

1 9
1 10
1 11
1 12
2 9
2 10
2 11
2 12
3 9
3 10
3 11
3 12
4 9
4 10
4 11
4 12
5 9
5 10
5 11
5 12
8 9
8 10
8 11
8 12